* {
    margin: 0;
    box-sizing: border-box;
}

body {

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}

nav ul li {
    font-size: large;
    margin-right: 25px;
    list-style-type: none;
}