* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginForm {
    border-radius: 5px;
    color: white;
    width: 527px;;
    background: #191414;
    padding: 70px 80px; 
}

h1 {
    font-size: 45px;
    text-align: center;
}

.text-input {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    margin-bottom: 15px;
}

.text-input input {
    background: transparent;
    font-size: 17px;
    border-radius: 5px;
    border-color: #b3b3b3;
    border-width: 2px;
    height: 39px;
    padding: 9px;
    
}

.password-option {
    accent-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.password-option a {
    font-weight: bold;
}

.password-option a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-button button {
    background: #525CEB;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 45px;
    margin: 35px 0;
}

.login-button button:hover {
    background: white;
    color: black;
}



.loginForm p {
    font-size: 16px;
    text-align: center;
}

.loginForm p a {
    font-weight: bold;
    text-decoration: underline;
}

.loginForm p a:hover {
    cursor: pointer;
}

label {
    margin-left: 2px;
}